.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span {
    color: white;
    padding: 0 .2em;
    background-color:  rgb(65,105,226);
}

.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img {
    width: 250px;
    height: 250px;
    margin: 2em 0;

}

.container {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  max-width: 750px;
  width: 75%;
}

.h2 {
  text-align: center;
  color: rgb(65,105,226);
  font-size: 1.5em;
   margin-bottom: .5em;
}

.cards{
    display: flex;

}

.c_card {
    width: 500px;
    height: 300px;
    background-color: rgba(0, 57, 227, 0.2);
    backdrop-filter: blur(10px);
    border:rgba(0, 57, 227, 0.20);
    padding: 40px;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    text-align: center;
}

.d_card {
    width: 500px;
    height: 300px;
    background-color: rgba(0, 57, 227, 0.2);
    backdrop-filter: blur(10px);
    border:rgba(0, 57, 227, 0.20);
    padding: 40px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    text-align: center;
}

#bth {
    color: #fff;
    text-decoration: none;
    background-color: rgb(19, 0, 112);
    border-radius: 20px;
    width: 500px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-top: 5px;


}

#btn:hover {
    background-color: rgb(156, 182, 255);
}

