.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

.conteiner{
    width: 450px;
    height: 450px;
    background-color: rgba(0, 57, 227, 0.2);
    backdrop-filter: blur(10px);
    border:rgba(0, 57, 227, 0.20);
    padding: 40px;
    margin-left: 31%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.conteiner h1{
    text-align: center;
    font-size: 30px;
    color: black;
}

.conteiner .input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.input input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid rgba(245, 246, 247, 0.2);
    border-radius: 15px;
    font-size: 12px;
    color: black;
    padding: 20px 25px;
}

.input input::placeholder{
    color: rgb(101, 100, 100);
}
.input label{
    font-size: 16px;
    color: black;
    
}

.conteiner .esqueceuSenha{
    display: flex;
    justify-content:space-between;
    font-size: 14.5px;
    margin: -15ps 0 15px;
}

.esqueceuSenha label{
    color: black;
}

.esqueceuSenha input{
    margin-right: 5px;
}

.esqueceuSenha a, .Cadastre p a{
    color: black;
    text-decoration: none;
}

.esqueceuSenha a:hover, .Cadastre p a:hover{
    text-decoration: underline;
}

.conteiner .Cadastre{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;

}

.conteiner button{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 10px ;
    border: none;
    outline: none;
    border-radius:15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.conteiner button:hover{
    background-color: rgb(122, 186, 243);
}





