.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(65,105,226);
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

button {
    margin-right: 1em;
    color: #fff;
    text-decoration: none;
    background-color: rgb(19, 0, 112);
    border-radius: 20px;
    width: 90px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(156, 182, 255);
}